.header_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 64px;
}
.header_logo {
  margin-left: 48px;
  display: flex;
  cursor: pointer;
}
.header_logo a {
  margin-left: 5px;
  text-decoration: none;
  font-size: large;
  font-weight: bold;
  color: white;
}
.header_search {
  display: flex;
  height: 40px;
  padding: 10px;
  align-items: center;
}
.header_searchContainer {
  height: 20px;
  border: 1px solid #31363a;
  border-radius: 4px;
  width: 375px;
  padding-bottom: 4px;
}
.header_searchContainer > input {
  background-color: transparent;
  border: none;
  margin-right: 5px;
  width: 100%;
  margin-left: 5px;
  color: white;
}
.list-group {
  background-color: #1e2023;
  display: none;
  list-style-type: none;
  border: 1px solid #42494d;
  border-radius: 4px;
  margin-top: 7.5px;
  padding: 0;
  position: absolute;
  width: 375px;
}

.list-group .li {
  background-color: #1e2023;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: left;
  padding-left: 25px;
  /* margin-bottom: 20px; */
  border-radius: 2px;
  font-weight: bold;
  font-size: large;
  /* font-stretch: extra-expanded; */
  color: white;
  border-bottom: 1px solid #42494d;
}
.list-group .li:hover {
  background-color: #42494d;
}

.header_searchContainer > input:focus + .list-group {
  outline: none;
  display: block;
}

.header_menuItems {
  margin-left: 48px;
  margin-right: 48px;
}
.header_menuItems > a {
  text-decoration: none;
  padding: 0 10px;
  font-weight: bold;
  color: white;
}
.header_menuItems > a:hover {
  color: #5ac53b;
}
