.header_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 64px;
}
.header_logo {
  margin-left: 48px;
  display: flex;
  cursor: pointer;
}
.header_logo a {
  margin-left: 5px;
  text-decoration: none;
  font-size: large;
  font-weight: bold;
  color: white;
}
.header_search {
  display: flex;
  height: 40px;
  padding: 10px;
  align-items: center;
}
.header_searchContainer {
  height: 20px;
  border: 1px solid #31363a;
  border-radius: 4px;
  width: 375px;
}
.header_searchContainer > input {
  background-color: transparent;
  border: none;
  margin-right: 5px;
  width: 100%;
  margin-left: 5px;
  color: white;
}
.header_searchContainer > input:focus {
  outline: none;
}

.header_menuItems {
  margin-left: 48px;
  margin-right: 48px;
}
.header_menuItems > a {
  text-decoration: none;
  padding: 0 10px;
  font-weight: bold;
  color: white;
}
.header_menuItems > a:hover {
  color: #5ac53b;
}
